@{
    ViewBag.Title = "About";
}
<nav class="navbar navbar-expand-lg bg-dark">
    <div class="navbar-collapse collapse" id="navbarColor01">
        <ul class="nav navbar-nav">
            <li>@Html.ActionLink("Inventory", "Index", "Inventory", new { @area = "Inventory" }, new { @class = "navbar-brand" })</li>
            <li>@Html.ActionLink("About", "About", "Home", new { area = "" }, new { @class = "navbar-brand" })</li>
            <li>@Html.ActionLink("Contact", "Contact", "Home", new { area = "" }, new { @class = "navbar-brand" })</li>
        </ul>
    </div>
</nav>

