@model AmazonModel.Inventory.UdfGetOrderMapBySales_Result[]
@{
    ViewBag.Title = "Sales by States";
}

<h3>Sales by State</h3>
<script src="https://code.highcharts.com/maps/highmaps.js"></script>
<script src="https://code.highcharts.com/maps/modules/data.js"></script>
<script src="https://code.highcharts.com/maps/modules/exporting.js"></script>
<script src="https://code.highcharts.com/maps/modules/offline-exporting.js"></script>
<script src="https://code.highcharts.com/mapdata/countries/us/us-all.js"></script>

<div id="container"></div>
<script src="https://code.highcharts.com/modules/accessibility.js"></script>


<figure class="highcharts-figure">
    <div id="container"></div>
    <p class="highcharts-description">
        <table id="salesByState" style="visibility: hidden">
            <tr>
                <th>State</th>
                <th>Sales Orders</th>
            </tr>
            @foreach (var state in Model)
            {
                <tr>
                    <td>@state.State</td>
                    <td>@state.Subtotal</td>
                </tr>
            }
        </table>
    </p>


</figure>


@section Scripts {
    <script type="text/javascript">
        Highcharts.chart('container', {
            data: {
                table: 'salesByState'
            },
            chart: {
                type: 'column'
            },
            title: {
                text: 'Sales Orders by State for 2020 / 2021'
            },
            yAxis: {
                allowDecimals: false,
                title: {
                    text: 'Units'
                }
            },
            tooltip: {
                formatter: function () {
                    return '<b>' + this.series.name + '</b>' +
                        '< br /> ' +
                        this.point.y + ' ' + this.point.name.toLowerCase();
                }
            }
        });
    </script>

    /**/
}









