@{
    ViewBag.Title = "Capstone Project";
}

<div class="jumbotron">
    <h1>E-Commerce Dashboard</h1>
    <p class="lead">Welcome To Your Dashboard<br />Map Sales by State-Add Image/Graph<br />Total Sales for YTD-Add Image/Graph<br />Monthly Sales vs Returns-Add Image/Graph</p>
    <p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Order Management</h2>
        <p>
            This area will provide information of what is going on with the Orders<br />Who is the shipper?
        </p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Inventory Management</h2>
        <p>Do we need an alert?  </p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Sales Reporting</h2>
        <p>Show me the MONEY!!!!.    
        </p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
    </div>
</div>